{{> menu active="about"}}

<section class="section">
  <h1 class="title"> Welcome to PlaceMark! </h1>
  <p> This project is part of an assignment.</p>
  <p> You will be able to place markers on a map and add more informations about the location.</p>
</section>
