{{> menu active="admindashboard"}}

<section class="section">
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-8 mr-3">
            {{> list-users}}
        </div>
    </div>
</section>
