{{#each users}}
  <div class="box box-link-hover-shadow">
    <h2 class="title">
      {{lastName}},
      {{firstName}}
    </h2>
    <p>Email: {{email}}</p>
    {{#unless isAdmin}}
      <a href="/admindashboard/deleteuser/{{_id}}" class="button is-pulled-right">
        <i class="fas fa-trash"></i>
      </a>
    {{/unless}}
  </div>
{{/each}}